.player {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(252, 232, 232, 0);
  z-index: 10;
  overflow: hidden;
  transition: all 0.5s;
}
.player.on {
  left: 0;
}
.close {
  position: absolute;
  top: -20px;
  right: -10px;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.close span {
  font-size: 30px;
}

section {
  width: 80%;
  height: 70%;
  padding: 30px 20px 50px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #000;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgb(126, 126, 126);
}
.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.circle {
  border-radius: 50%;
}
.big {
  width: 50vw;
  height: 50vw;
  position: relative;
  background: url('../image/bg1.jpg') no-repeat center / cover;
  box-shadow: 3px 3px 5px rgb(126, 126, 126);
}
.big::before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: inherit;
}
.big.play {
  animation: rotate 4s linear infinite;
}
.small {
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 2px 2px 5px rgb(126, 126, 126);
  background-color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.music_title {
  font-size: 1.3em;
}
.btn {
  position: absolute;
  top: 50%;
  padding: 10px;
  border-radius: 50%;
}
.prev {
  left: 1vw;
}
.next {
  right: 1vw;
}
.controls {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .player {
    width: 20vw;
    height: 600px;
    top: 0;
  }
  .player.on {
    left: 0;
  }
  section {
    width: 80%;
    height: 70%;
    padding: 30px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #000;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgb(126, 126, 126);
  }
  .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .circle {
    border-radius: 50%;
  }
  .big {
    width: 10vw;
    height: 10vw;
    position: relative;
    background: url('../image/bg1.jpg') no-repeat center / cover;
    box-shadow: 3px 3px 5px rgb(126, 126, 126);
  }
  .big::before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: inherit;
  }
  .big.play {
    animation: rotate 4s linear infinite;
  }
  .small {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 2px 2px 5px rgb(126, 126, 126);
    background-color: #fff;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .music_title {
    font-size: 1.3em;
  }
  .btn {
    position: absolute;
    top: 50%;
    padding: 10px;
    border-radius: 50%;
  }
  .prev {
    left: 1vw;
  }
  .next {
    right: 1vw;
  }
  .controls {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
}
